<h1>Delete listing</h1>
<div class="form">
  <form action="/delete/{{car.id}}" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{car.name}}" disabled />
    <label for="name">Description</label>
    <textarea
      id="name"
      name="description"
      disabled
    >{{car.description}}</textarea>
    <label for="image">ImageUrl</label>
    <input
      type="text"
      id="image"
      name="imageUrl"
      value="{{car.imageUrl}}"
      disabled
    />
    <label for="price">Price</label>
    <input
      type="number"
      id="price"
      name="price"
      value="{{car.price}}"
      disabled
    />
    <input type="submit" value="Confirm Delete" />
  </form>
</div>